/* Base Element Styles
   ====================================================== */



body {
    min-height: 300px;
    margin-bottom: 150px;
    margin-left; 
    clear: both;
    color: black;
}


img {
    max-width: 100%;
    max-height: auto;
}

/* Original title css
h1 {
    color: red;
    clear: both;
    font-style: italic;
    font-family: cursive;
    max-width: 100%;
    max-height: auto;
    text-align: center;
    background-color: royalblue;

}
*/

.main-nav {
    /*
    margin: 0;
    padding: 0;
    list-style: none;
    */

        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: yellow;
        text-align: center;
      }
      
.main-nav li {
        display: inline-block;
        
      }










/* Containers
   ====================================================== */

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.schpeel {
    text-align: center;
}

.copyright {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: yellow;
    text-align: left;
  }

.title {
    font-size: 250%;
    margin: 0;
    font-style: italic;
    font-family: cursive;
    color: red;
    background-color: royalblue;
}

.main-nav {
    margin-top: 5px;
}

.title,
.main-nav a {
    text-align: center;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
} 

blockquote {
    text-align: center;
}



/* Media Queries */

@media (max-width: 550px) {
    .main-nav {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .main-nav li {
            display: block;
          }

